[Desktop Entry]
Name=Gnotravex
Name[pt_BR]=Gnotravex
Name[da]=Gnotravex
Name[de]=Gnotravex
Name[el]=Gnotravex
Name[es]=Gnotravex
Name[fi]=Gnotravex
Name[fr]=Gnotravex
Name[gl]=Gnotravex
Name[ja]=Gnotravex
Name[lt]=Gnotravex
Name[no]=Gnotravex
Name[ru]=çÎÏÔÒÁ×ÅËÓ
Name[sk]=Gnotravex
Name[sv]=Gnotravex
Comment=Gnome Tetravex game
Comment[pt_BR]=Jogo Tetravex Gnome
Comment[da]=Tetravex spil til Gnome
Comment[de]=Gnome-Klon des Denkspiels Tetravex
Comment[el]=Ğáé÷íßäé áíôéóôïß÷éóçò ôåôñáãşíùí ôïõ Gnome
Comment[es]=Juego de reflexión clónico de Tetravex
Comment[fi]=Gnome-Tetravex-peli
Comment[fr]=Jeu Tetravex GNOME
Comment[gl]=Xogo Tetravex de Gnome
Comment[ja]=GNOMEÈÇËâÊı¿Ø¥²¡¼¥à
Comment[lt]=Gnome Tetravex şaidimas
Comment[no]=Tetravex spill for GNOME
Comment[ru]=éÇÒÁ ôÅÔÒÁ×ÅËÓ ÄÌÑ Gnome
Comment[sk]=Hra Tetravex pre GNOME
Comment[sv]=Tetravexspel för Gnome
Exec=gnotravex
Icon=gnotravex/gnome-gnotravex.png
Terminal=0
Type=Application

