[Desktop Entry]
Name=Gnotravex
Name[de]=Gnotravex
Name[es]=Gnotravex
Name[fi]=Gnotravex
Name[fr]=Gnotravex
Name[no]=Gnotravex
Name[ru]=Гнотравекс
Comment=Gnome Tetravex game
Comment[de]=Gnome-Klon des Denkspiels Tetravex
Comment[es]=Juego de reflexiСn clСnico de Tetravex
Comment[fi]=Gnome-Tetravex-peli
Comment[fr]=Jeu Tetravex GNOME
Comment[no]=Tetravex spill for GNOME
Comment[ru]=Игра Тетравекс для Gnome
Exec=gnotravex
Icon=gnotravex/gnome-gnotravex.png
Terminal=0
Type=Application

