/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnotravex.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnotravex.xml
/cs/cs.po
/cs/gnotravex.xml
/da/da.po
/da/gnotravex.xml
/de/de.po
/de/gnotravex.xml
/el/el.po
/el/gnotravex.xml
/en_GB/en_GB.po
/en_GB/gnotravex.xml
/es/es.po
/es/gnotravex.xml
/eu/eu.po
/eu/gnotravex.xml
/fr/fr.po
/fr/gnotravex.xml
/gnotravex-C.omf
/gnotravex-ca.omf
/gnotravex-cs.omf
/gnotravex-da.omf
/gnotravex-de.omf
/gnotravex-el.omf
/gnotravex-en_GB.omf
/gnotravex-es.omf
/gnotravex-eu.omf
/gnotravex-fr.omf
/gnotravex-it.omf
/gnotravex-oc.omf
/gnotravex-ru.omf
/gnotravex-sr.omf
/gnotravex-sv.omf
/it/gnotravex.xml
/it/it.po
/oc/gnotravex.xml
/oc/oc.po
/ru/gnotravex.xml
/ru/ru.po
/so_locations
/sr/gnotravex.xml
/sr/sr.po
/sv/gnotravex.xml
/sv/sv.po
/tags
